*.c
*.so
dist/
*.egg-info/
__pycache__
venv/
typings/
*.pyx
!*.in.pyx
*.pyi
!*.in.pyi
.pytest_cache/
hse/*.html
tests/kvdb-export/
subprojects/*
!subprojects/packagefiles/
*build*/
!subprojects/hse.wrap
