# SPDX-License-Identifier: Apache-2.0 OR MIT
#
# SPDX-FileCopyrightText: Copyright 2020 Micron Technology, Inc.

*~
__pycache__/
dist/
hse3/*.html
subprojects/*
!subprojects/packagefiles/
!subprojects/hse.wrap
.mesonpy-native-file.ini
