include hse2/py.typed
# Remove the following line when we support only platforms with setuptools >= 42.0.0 by default
include LICENSE
# Remove the following line when we support only platforms with setuptools >= 43.0.0 by default
include pyproject.toml
recursive-include hse2 *.c *.pyx *.pyi
recursive-include hse2 *.pyx *.pyi
recursive-exclude hse2 *.in.pyx *.in.pyi
